<body>
  <section class="container">
    <main class="form-signin">
      <h1 class="h3 mb-3 fw-normal" style="text-align:center;">Faça o Login</h1>
      <form novalidate #form="ngForm" (submit)="onSubmit(form, template)" >
        <div class="form-floating">
        <label for="floatingInput">Email:</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
          [(ngModel)]="this.loginService.formData.email" #email="ngModel">
      </div>
      <div class="form-floating2">
        <label class="FloatPassword" for="floatingPassword">Senha:</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
          [(ngModel)]="this.loginService.formData.password">

      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar minhas informações
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

      <ng-template #template >

        <div *ngIf="this.userService.isUserAuthenticated()" class="modal-header">
        
          <h4  class="modal-title"style="text-align: center">LOGADO COM SUCESSO</h4>
          
        </div>
        <div *ngIf="this.userService.isUserAuthenticated()" class="modal-btn">
          <button 
            type="button" 
            routerLink="/"
            aria-label="Close" 
            (click)="modalRef?.hide()"
            class="btn-close close" 
            >
            <button type="button" class="btn btn-secondary" style="background-color: red;color: black;" data-bs-dismiss="modal">Close</button>
          </button>
        </div>

        <div *ngIf="!this.userService.isUserAuthenticated()" class="modal-header">
        
          <h4  class="modal-title"style="text-align: center">SENHA ou EMAIL não é valido</h4>
          
        </div>
        <div *ngIf="!this.userService.isUserAuthenticated()" class="modal-btn">
          <button 
            type="button" 
            aria-label="Close" 
            (click)="modalRef?.hide()"
            class="btn-close close" 
            >
            <button type="button" class="btn btn-secondary" style="background-color: red;color: black;" data-bs-dismiss="modal">Close</button>
          </button>
        </div>
      
      </ng-template>

      </form>
    </main>
  </section>
</body>
