<body *ngIf="this.userService.goToLogin()">
    <main>
        <div class="row">
            <div class="photo">
                <img src="../assets/cachorro.jfif" alt="photo" style="border-radius: 5%;">
            </div>
            <div class="col-md-6">
                <div class="description">
                    <p><b>Nome:</b> {{this.petService.petResponseModel.name}}</p>
                    <p><b>Animal:</b> {{this.petService.petResponseModel.specie}}</p>
                    <p><b>Raça:</b> {{this.petService.petResponseModel.breed}}</p>
                    <p><b>Idade:</b> {{this.petService.petResponseModel.ageYears}} anos e
                        {{this.petService.petResponseModel.ageMonths}}
                        meses
                    </p>
                    <p><b>Dono:</b> {{this.petService.petResponseModel.userResponseModel.name}}</p>
                    <p><b>Endereço:</b> {{this.petService.petResponseModel.userResponseModel.street}}, n° {{this.petService.petResponseModel.userResponseModel.houseNumber}} - {{this.petService.petResponseModel.userResponseModel.district}}</p>
                    <p><b>Descrição:</b> {{this.petService.petResponseModel.description}}</p>
                    <div>
                        <div>
                            <div class="divAdotar">
                                <a type="button" class="btn btn-primary" [routerLink]="['/adopt-page/']">Adotar</a>
                            </div>
                            <div class="divReportar">
                                <a type="button" class="btn btn-danger"
                                    [routerLink]="['/report-page/', this.petService.pet.id]">Reportar</a>
                            </div>
                            <div class="divVoltar">
                                <a type="button" class="btn btn-primary"
                                routerLink="/">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>