<body>
  <div>
    <br>
    <br>
  </div>
  <section class="container">
    <h1 class="title">Cadastro do usuário</h1>
    <form class="row g-3" novalidate #form="ngForm" (submit)="onSubmit(form, template)" >
      
      <div class="mb-3">
        <label>Nome</label>
        <input
          name="nome"
          class="form-control"
          placeholder="Digite seu nome"
          [(ngModel)]="this.userService.userRequestModel.name"
          required
          [class.invalid]="nome.invalid && nome.touched"
          minlength="3"
          maxlength="50"
          #nome="ngModel"
        />
      </div>

      <div class="mb-3">
        <label>Sobrenome</label>
        <input
          name="sobrenome"
          class="form-control"
          placeholder="Digite seu sobrenome"
          [(ngModel)]="this.userService.userRequestModel.surname"
          required
          [class.invalid]="sobrenome.invalid && sobrenome.touched"
          minlength="3"
          maxlength="50"
          #sobrenome="ngModel"
        />
      </div>
      
      <div class="mb-3">
        <label>Telefone</label>
        <input
                class="form-control form-control"
                placeholder="(__) _____-____"
                name="phone"
                #phone="ngModel"
                [(ngModel)]="this.userService.userRequestModel.phone"
                onkeyup="
                            var phone = this.value;
                            if (phone.match(/^[A-Z]|[a-z]$/) !== null){
                                this.value = '';
                            }"
                onkeydown="
                            var phone = this.value;
                            if (window.event.keyCode == 8) { }
                            else if (phone.match(/^[A-Z]|[a-z]$/) !== null){
                                this.value = ' ';
                            }
                            else if (phone.match(/^\d$/) !== null){
                                this.value = '(' + phone;
                            }
                            else if (phone.match(/^\(\d{2}$/) !== null){
                                this.value = phone + ') ';
                            }
                            else if (phone.match(/^\(\d{2}\) \d{5}$/) !== null) {
                                this.value = phone + '-';
                            }"
                required
                maxlength="15"
                minlength="15"
                [class.invalid]="phone.invalid && phone.touched"
              />
              <p *ngIf="phone.invalid && phone.touched" class="invalid">
                O telefone deve conter no minimo 11 dígitos!
              </p>
      </div>

      <div class="mb-3">
        <label>Data de nascimento</label>
        <input
          name="diaNascimento"
          type="date"
          class="form-control"
          [(ngModel)]="this.userService.userRequestModel.birthDate"
          required
          [class.invalid]="diaNascimento.invalid && diaNascimento.touched"
          minlength="8"
          maxlength="10"
          #diaNascimento="ngModel"
        />
      </div>
      
      <div class="mb-3">
        <label>Cpf</label>
        <input
                class="form-control form-control"
                placeholder="___.___.___-__"
                name="Cpf"
                #Cpf="ngModel"
                [(ngModel)]="this.userService.userRequestModel.cpf"
                onkeyup="
                            var Cpf = this.value;
                            if (Cpf.match(/^[A-Z]|[a-z]$/) !== null){
                                this.value = '';
                            }"
                onkeydown="
                            var Cpf = this.value;
                            if (window.event.keyCode == 8) { }
                            else if (Cpf.match(/^\d{3}$/) !== null){
                                this.value = Cpf + '.';
                            }
                            else if (Cpf.match(/^\d{3}\.\d{3}$/) !== null){
                                this.value = Cpf + '.';
                            }
                            else if (Cpf.match(/^\d{3}\.\d{3}\.\d{3}$/) !== null) {
                                this.value = Cpf + '-';
                            }"
                required
                minlength="14"
                maxlength="14"
                [class.invalid]="Cpf.invalid && Cpf.touched"
              />
        <p *ngIf="Cpf.invalid && Cpf.touched" class="invalid">
          O Cpf deve conter no minimo 11 dígitos
        </p>
      </div>

      <div class="mb-3">
        <label>Email</label>
        <input
          name="email"
          type="email"
          class="form-control"
          [(ngModel)]="this.userService.userRequestModel.email"
          required
          [class.invalid]="email.invalid && email.touched"
          minlength="2"
          maxlength="60"
          pattern="[^ @]*@[^ @]*"
          #email="ngModel"
        />
        <p *ngIf="email.invalid && email.touched" class="invalid">
          Email invalido
        </p>
      </div>

      <div class="mb-3">
        <label>Crie uma senha</label>
        <input
          name="password"
          type="password"
          class="form-control"
          required
          [(ngModel)]="this.userService.userRequestModel.password"
          [class.invalid]="password.invalid && password.touched "
          minlength="6"
          maxlength="60"
          #password="ngModel"
        />
      </div>
      <div class="mb-3">
        <label >Bairro</label>
        <br>
        <select
          class="form-select"
          aria-label="Default select example"
          name="bairro"
          [(ngModel)]="this.userService.userRequestModel.district"
          #bairro="ngModel"
        >
          <option selected>Selecione</option>
          <option value="Água Verde">Água Verde</option>
          <option value="Badenfurt">Badenfurt</option>
          <option value="Bela Vista">Bela Vista</option>
          <option value="Boa Vista">Boa Vista</option>
          <option value="Bom Retiro">Bom Retiro</option>
          <option value="Centro">Centro</option>
          <option value="Do Salto">Do Salto</option>
          <option value="Escola Agrícola">Escola Agrícola</option>
          <option value="Fidélis">Fidélis</option>
          <option value="Fortaleza">Fortaleza</option>
          <option value="Fortaleza Alta">Fortaleza Alta</option>
          <option value="Garcia">Garcia</option>
          <option value="Glória">Glória</option>
          <option value="Itoupava Central">Itoupava Central</option>
          <option value="Itoupava Norte">Itoupava Norte</option>
          <option value="Itoupava Seca">Itoupava Seca</option>
          <option value="Itoupavazinha">Itoupavazinha</option>
          <option value="Jardim Blumenau">Jardim Blumenau</option>
          <option value="Nova Esperança">Nova Esperança</option>
          <option value="Passo Manso">Passo Manso</option>
          <option value="Ponta Aguda">Ponta Aguda</option>
          <option value="Progresso">Progresso</option>
          <option value="Ribeirão Fresco">Ribeirão Fresco</option>
          <option value="Salto">Salto</option>
          <option value="Salto do Norte">Salto do Norte</option>
          <option value="Salto Weissbach">Salto Weissbach</option>
          <option value="Testo Salto">Testo Salto</option>
          <option value="Tribess">Tribess</option>
          <option value="Valparaíso">Valparaíso</option>
          <option value="Velha">Velha</option>
          <option value="Velha Central">Velha Central</option>
          <option value="Velha Grande">Velha Grande</option>
          <option value="Victor Konder">Victor Konder</option>
          <option value="Vila Formosa">Vila Formosa</option>
          <option value="Vila Itoupava">Vila Itoupava</option>
          <option value="Vila Nova">Vila Nova</option>
          <option value="Vorstadt">Vorstadt</option>

        </select>
      </div>
      

      <div class="mb-3">
        <label>Rua</label>
        <input
          name="rua"
          type="email"
          class="form-control"
          placeholder="Ex: Rua Bahia"
          [(ngModel)]="this.userService.userRequestModel.street"
          required
          [class.invalid]="rua.invalid && rua.touched"
          minlength="2"
          maxlength="60"
          #rua="ngModel"
        />
      </div>
      
      <div class="col-md-2">
        <label>Número</label>
        <input
          name="numeroCasa"
          class="form-control"
          placeholder="Ex: 000"
          [(ngModel)]="this.userService.userRequestModel.houseNumber"
          required
          [class.invalid]="numeroCasa.invalid && numeroCasa.touched"
          minlength="1"
          maxlength="4"
          #numeroCasa="ngModel"
        />
      </div>
      
      <div>
        <label>Cep</label>
        
        <input
        class="form-control"
                placeholder="_____-___"
                name="Cep"
                #Cep="ngModel"
                [(ngModel)]="this.userService.userRequestModel.cep"
                onkeyup="
                            var Cep = this.value;
                            if (Cep.match(/^[A-Z]|[a-z]$/) !== null){
                                this.value = '';
                            }"
                onkeydown="
                            var Cep = this.value;
                            if (window.event.keyCode == 8) { }
                            else if (Cep.match(/^\d{5}$/) !== null){
                                this.value = Cep + '-';
                            }"
                required
                minlength="9"
                maxlength="9"
                [class.invalid]="Cep.invalid && Cep.touched"
              />
        <p *ngIf="Cep.invalid && Cep.touched" class="invalid">
          O Cep invalido
        </p>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled] = "form.invalid"       
      >
        Salvar
      </button>

      <ng-template #template>

        <div class="modal-header">
        
          <h4 class="modal-title"style="text-align: center">CADASTRO REALIZADO</h4>
          
        </div>
        <div class="modal-btn">
          <button 
            type="button" 
            routerLink="/"
            aria-label="Close" 
            (click)="modalRef?.hide()"
            class="btn-close close" 
            >
            <button type="button" class="btn btn-secondary" style="background-color: red;color: black;" data-bs-dismiss="modal">Close</button>
          </button>
        </div>

      </ng-template>

    </form>
  </section>
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>
</body>