<body>

  <router-outlet></router-outlet>

  <form class="row g-3 align-items-center" novalidate #form="ngForm" (submit)="onSubmit(form)">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">GetPet</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item navbar-right">
            <a class="nav-link" routerLink="/pet-sign-up">Cadastrar pet</a>
          </li>
          <li class="nav-item navbar-right">
            <a class="nav-link" [routerLink]="['/donate/']">PIX Solidário</a>
          </li>
        </ul>
      </div>
 
      <ul class="navbar-nav mr-auto navbar-right" >
        <li *ngIf="!this.userService.isUserAuthenticated()" class="nav-item navbar-right">
          <a class="nav-link" routerLink="/user-login">Entrar</a>
        </li>
        <li *ngIf="!this.userService.isUserAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink="/user-sign-up">Cadastre-se</a>
        </li>
        <div *ngIf="this.userService.isUserAuthenticated()" class="btn-group" dropdown style="margin-right: 10px;">
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-animated">
               Meu perfil <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-animated">
              <a class="dropdown-item" routerLink="pet-menu">Meus pets</a>
              <a class="dropdown-item" routerLink="user-menu">Minha Conta</a>
              <a class="dropdown-item" (click) = "this.userService.logOut()" routerLink="user-login">Sair</a>
          </ul>
        </div>
      </ul>
    </nav>
  </form>
<footer class="containerFooter">
  <p>&copy; Get Pet 2021</p>
</footer>
</body>
