<body *ngIf="this.userService.goToLogin()">
    <main *ngIf="this.userService.goToLogin()">
        <div class="row" *ngIf="this.userService.goToLogin()">
            <div class="photo">
                <img [src]="'../../../assets/' + photoIndex + '.jpeg'" alt="photo" style="border-radius: 5%;">
            </div>
            <div class="col-md-6">
                <div class="description">
                    <p><strong>Nome:</strong> {{this.pet.name}}</p>
                    <p><strong>Animal:</strong> {{this.pet.specie}}</p>
                    <p><strong>Raça:</strong> {{this.pet.breed}}</p>
                    <p><strong>Idade:</strong> {{this.pet.ageYears}} anos e
                        {{this.pet.ageMonths}}
                        meses
                    </p>
                    <p><strong>Dono:</strong> {{this.pet.user.name}}</p>
                    <p><strong>Endereço:</strong> {{this.pet.user.street}}, n° {{this.pet.user.houseNumber}} - {{this.pet.user.district}}</p>
                    <div class="limit"><strong>Descrição:</strong> {{this.pet.description}}</div>
                    <div>
                        <div>
                            <div class="divAdotar">
                                <a type="button" class="btn btn-primary" [routerLink]="['/adopt-page',this.photoIndex]">Adotar</a>
                            </div>
                            <div class="divReportar">
                                <a type="button" class="btn btn-danger"
                                    [routerLink]="['/report-page']">Reportar</a>
                            </div> 
                            <div class="divVoltar">
                                <a type="button" class="btn btn-primary"
                                routerLink="/">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>